/* reset */
$min-width: 320px; 
$max-width: 1680px; 
$base-bg:   url(../img/bg-pattern.png) repeat #f9f9f9;
$base-font-size: 14px; 
$base-line-height: 18px; 
$base-font-family: 'Open Sans', sans-serif; 
$custom-font-family: 'Comfortaa', cursive;
$link-color: #100da9;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 30px;
$line-height-h1: 36px;
$font-size-h2: 18px;
$line-height-h2: 22px;
$font-size-h3: 16px;
$line-height-h3: 20px;